<div class="row">
  <div class="col-md-9">
    <form *ngIf="info==null" (ngSubmit)="onSubmit()" [formGroup]="articleForm">
      <div class="form-container mt-5">
        <mat-form-field>
          <input type="text" placeholder="Kategori Seç" matInput formControlName="category" [matAutocomplete]="auto" />
          <mat-autocomplete [displayWith]="displayCategoryName" #auto="matAutocomplete">
            <mat-option *ngFor="let item of categories " [value]="item">
              {{item.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Başlık" formControlName="title" matInput />
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Makale İçerik Özet " formControlName="contentSummary" matInput />
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Makale İçerik" formControlName="contentMain" matInput />
        </mat-form-field>
        <button [disabled]="loading" mat-raised-button color="primary"> <span *ngIf="loading"
            class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>Makale Ekle</button>
      </div>
    </form>

  </div>
  <div class="col-md-3">
    <div class="card text-white bg-dark mt-5">
      <div class="card-header">Makale Resim</div>
      <div class="card-body">
        <img class="img-thumbnail" [src]="picture || 'assets/article.empty.jpg'" />
      </div>
      <div class="card-footer">
        <input (change)="upload($event)" type="file" class="form-control" name="image">
      </div>
    </div>
  </div>
</div>
